//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'Studio DX'}
    meta(name="description" content=headers && headers.description || 'This development experience site for StackBlend Studio will help you cope and work with all embedded and innovated technologies inside the studio.')
    meta(name="keywords" content=headers && headers.keywords || 'StackBlend documentation, StackBlend help, how to use StackBlend')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'Studio DX')
    meta(property="og:url" content=headers && headers.linkUrl || '/')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || 'This development experience site for StackBlend Studio will help you cope and work with all embedded and innovated technologies inside the studio.')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include _header.pug
  body(style="-ms-overflow-x: hidden; -ms-overflow-y: hidden; -webkit-background-size: cover; background-image: url(https://stackblend-static-files.s3-us-west-1.amazonaws.com/federa_lake.jpg); background-position: center center; background-size: cover; font-family: Inter; overflow-x: hidden; overflow-y: hidden")
    
    .internal-fsb-begin(internal-fsb-animation="038d1645,0cea2aca,45a1784d,d0209130", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        .internal-fsb-element(style={'height': '100vh', 'padding-left': '0px', 'padding-right': '0px', 'position': 'relative', 'width': '100vw', 'z-index': '1'}, internal-fsb-guid="c4b86b00")
          .internal-fsb-element(style={'height': '40vw', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px', 'z-index': '5000'}, internal-fsb-guid="608384c4")
            .internal-fsb-element(style={'border-bottom-color': 'rgba(255, 255, 255, 0)', 'border-bottom-style': 'solid', 'border-bottom-width': '10vw', 'border-left-color': 'rgba(255, 255, 255, 0)', 'border-left-style': 'solid', 'border-left-width': '20vw', 'border-right-color': 'rgba(255, 255, 255, 0)', 'border-right-style': 'solid', 'border-right-width': '20vw', 'border-top-color': 'rgba(0, 0, 0, 1)', 'border-top-style': 'solid', 'border-top-width': '10vw', 'height': '20vw', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'top': '0px'}, internal-fsb-guid="e4425156")
            .internal-fsb-element(style={'border-bottom-color': 'rgba(255, 255, 255, 0)', 'border-bottom-style': 'solid', 'border-bottom-width': '10vw', 'border-left-color': 'rgba(255, 255, 255, 0)', 'border-left-style': 'solid', 'border-left-width': '20vw', 'border-right-color': 'rgba(255, 255, 255, 0)', 'border-right-style': 'solid', 'border-right-width': '20vw', 'border-top-color': 'rgba(0, 0, 0, 1)', 'border-top-style': 'solid', 'border-top-width': '10vw', 'height': '20vw', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px'}, internal-fsb-guid="10b33324")
            .internal-fsb-element(style={'background': 'rgba(0, 0, 0, 1)', 'height': '10vw', 'left': '20vw', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '20vw', 'top': '0vw'}, internal-fsb-guid="c7d88d54")
          .internal-fsb-element(style={'bottom': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px', 'width': '40vw', 'z-index': '4500'}, internal-fsb-guid="b6e7cd30")
            .internal-fsb-element(style={'-fsb-background-type': 'linear', 'background': 'linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(0, 0, 0, 1) 100%)', 'bottom': '0vw', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0vw', 'width': '20vw'}, internal-fsb-guid="9dd2c3cc")
          .internal-fsb-element.internal-fsb-inverse.internal-fsb-stretch.internal-fsb-strict-layout(style={'-ms-flex-direction': 'column', '-webkit-align-content': 'center', '-webkit-flex-direction': 'column', '-webkit-justify-content': 'center', '-webkit-opacity': '1', 'align-content': 'center', 'background': 'rgba(0, 134, 235, 1)', 'bottom': '10vw', 'flex-direction': 'column', 'justify-content': 'center', 'left': '20vw', 'opacity': '1', 'padding-left': '0px', 'padding-right': '0px', 'pointer-events': 'none', 'position': 'fixed', 'right': '20vw', 'top': '10vw', 'transform-style': 'preserve-3d', 'width': '60vw'}, internal-fsb-class="FlowLayout", internal-fsb-guid="838575ca")
            .internal-fsb-element(style={'display': 'inline-block', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-guid="1ca8a8e7")
              .internal-fsb-element(style={'color': 'rgba(255, 255, 255, 1)', 'display': 'inline-block', 'line-height': '25px', 'margin-right': '5px', 'vertical-align': 'middle'}, internal-fsb-guid="c1a94b54")
                | Studio DX
              .internal-fsb-element(style={'background': 'rgba(255, 255, 255, 0)', 'display': 'inline-block', 'height': '25px', 'padding-left': '0px', 'padding-right': '0px', 'vertical-align': 'middle', 'width': '1.5px'}, internal-fsb-guid="7c1a79ed")
            .internal-fsb-element(style={'-fsb-background-type': 'linear', 'background': 'linear-gradient(135deg, rgba(255, 255, 255, 0) 39.233038348082594%, rgba(217, 234, 255, 0.2) 45.72271386430678%, rgba(255, 255, 255, 0) 51.91740412979351%)', 'height': '200vh', 'left': '-200vw', 'padding-left': '0px', 'padding-right': '0px', 'pointer-events': 'none', 'position': 'absolute', 'top': '-200vh', 'width': '200vw', 'z-index': '1000'}, internal-fsb-guid="db799ad8")
          .internal-fsb-element(style={'bottom': '0px', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'top': '0px', 'width': '40vw', 'z-index': '4500'}, internal-fsb-guid="96c2a351")
            .internal-fsb-element(style={'-fsb-background-type': 'linear', 'background': 'linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(37, 37, 37, 1) 100%)', 'border-left-color': 'rgba(37, 37, 37, 1)', 'bottom': '0vw', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'top': '0vw', 'width': '20vw'}, internal-fsb-guid="4046c2b3")
          .internal-fsb-element(style={'bottom': '0px', 'height': '40vh', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'z-index': '5000'}, internal-fsb-guid="42597078")
            .internal-fsb-element(style={'border-bottom-color': 'rgba(0, 0, 0, 1)', 'border-bottom-style': 'solid', 'border-bottom-width': '10vw', 'border-left-color': 'rgba(255, 255, 255, 0)', 'border-left-style': 'solid', 'border-left-width': '20vw', 'border-right-color': 'rgba(255, 255, 255, 0)', 'border-right-style': 'solid', 'border-right-width': '20vw', 'border-top-color': 'rgba(255, 255, 255, 0)', 'border-top-style': 'solid', 'border-top-width': '10vw', 'bottom': '0px', 'height': '20vw', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute'}, internal-fsb-guid="35758dd6")
            .internal-fsb-element(style={'border-bottom-color': 'rgba(0, 0, 0, 1)', 'border-bottom-style': 'solid', 'border-bottom-width': '10vw', 'border-left-color': 'rgba(255, 255, 255, 0)', 'border-left-style': 'solid', 'border-left-width': '20vw', 'border-right-color': 'rgba(255, 255, 255, 0)', 'border-right-style': 'solid', 'border-right-width': '20vw', 'border-top-color': 'rgba(255, 255, 255, 0)', 'border-top-style': 'solid', 'border-top-width': '10vw', 'bottom': '0px', 'height': '20vw', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px'}, internal-fsb-guid="8e356e77")
            .internal-fsb-element(style={'background': 'rgba(0, 0, 0, 1)', 'bottom': '0px', 'height': '10vw', 'left': '20vw', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '20vw'}, internal-fsb-guid="d107acb2")
        span(internal-fsb-init-class="Project.Controls.Rectangle_8241a6e4")
        a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'bottom': '10px', 'color': 'rgba(255, 255, 255, 0.5)', 'font-size': '13px', 'font-weight': '200', 'position': 'fixed', 'right': '15px', 'text-decoration-line': 'none', 'white-space': 'nowrap', 'z-index': '4000'}, href="https://www.stackblend.org", internal-fsb-guid="93b5cdaa")
          .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="208732e9")
            .svg
              svg(height="27", width="54", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg")
                |  Created with SVG-edit - https://github.com/SVG-Edit/svgedit
                g.layer
                  title
                    | Straight Art
                  path(d="m31.15737,3.25231l3.23969,0l0,17.49237l-3.23969,0l0,-17.49237zm3.48411,8.89501l13.21599,0m-42.43452,-0.29785l12.766,0l0,-9.70216c4.34044,3.31916 8.68088,6.63832 13.02132,9.95748l-13.02115,10.04252l0,-10.25564m-13.77939,-0.58465l1.01652,0l0,1.01653l-1.01652,0l0,-1.01653zm43.45881,0.30428l1.01652,0l0,1.01653l-1.01652,0l0,-1.01653z", fill="rgba(255, 255, 255, 0.0)", id="svg_2", stroke="rgba(255, 255, 255, 0.5)")
          .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="93b5cdaa-text")
            | Designed in StackBlend Studio
        .internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-webkit-align-content': 'center', 'align-content': 'center', 'bottom': '0px', 'height': '100vh', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'pointer-events': 'none', 'position': 'fixed', 'right': '0px', 'top': '0px', 'width': '100vw', 'z-index': '2'}, internal-fsb-class="FlowLayout", internal-fsb-guid="06b79b17")
          .col-5.col-md-4.internal-fsb-element.internal-fsb-strict-layout.offset-md-4(style={'padding-left': '15px', 'padding-right': '0px', 'padding-top': '15px', 'pointer-events': 'none'}, internal-fsb-class="FlowLayout", internal-fsb-guid="a587d651")
            .-fsb-self-1923daea.blur.internal-fsb-element(internal-fsb-guid="1923daea")
              .col-12.internal-fsb-element(internal-fsb-guid="0ab52ad7")
                | Understand studio's embeded technologies
          .col-7.col-md-4.internal-fsb-element.internal-fsb-strict-layout(style={'height': '100vh', 'padding-left': '0px', 'padding-right': '15px', 'padding-top': '15px', 'pointer-events': 'auto'}, internal-fsb-class="FlowLayout", internal-fsb-guid="20b76c66")
            .blur.internal-fsb-element.internal-fsb-strict-layout(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'auto', '-webkit-border-radius': '0px 3px 3px 3px', 'background': 'rgba(255, 255, 255, 0.5)', 'border-radius': '0px 3px 3px 3px', 'max-height': '90vh', 'overflow-x': 'hidden', 'overflow-y': 'auto', 'padding-bottom': '5px', 'padding-left': '15px', 'padding-right': '15px', 'padding-top': '5px', 'position': 'relative'}, internal-fsb-class="FlowLayout", internal-fsb-guid="4e72c51d")
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="e2c2598a")
                .-fsb-preset-a580c369.col-12.internal-fsb-element(internal-fsb-guid="040adb47")
                  | React.JS with TypeScript
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html", target="_blank", internal-fsb-guid="9c7b8ad3")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="d042d075")
                    | TypeScript for JavaScript Programmers
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="308dcc58")
                    | To understand TypeScript from JavaScript perspective
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://blog.logrocket.com/how-use-typescript-react-tutorial-examples/", target="_blank", internal-fsb-guid="0eb5b667")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="0767533c")
                    | How to use TypeScript with React: A tutorial with examples
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="b7232a4a")
                    | To compare between TSX and JSX, what're the differences
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="1e478388")
                .-fsb-self-a580c369.col-12.internal-fsb-element(internal-fsb-guid="a580c369")
                  | Component StateS
                a.-fsb-self-b5501860.internal-fsb-element(href="https://www.w3schools.com/react/react_lifecycle.asp", target="_blank", internal-fsb-guid="b5501860")
                  .-fsb-self-b5501860-text.internal-fsb-element(internal-fsb-guid="b5501860-text")
                    | Lifecycle of Components
                  .-fsb-self-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="2a880e01")
                    | To use constructor(), componentDidMount(), componentDidUpdate(), componentWillUnmount(), and render()
                a.-fsb-preset-b5501860.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'b5501860'}, href="https://www.thecodebuzz.com/react-components-with-state-and-props-best-practices/", target="_blank", internal-fsb-guid="e5a42ed3")
                  .-fsb-preset-b5501860-text.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'b5501860-text'}, internal-fsb-guid="5002d776")
                    | React Components Lifecycle with State and Props
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2a880e01'}, internal-fsb-guid="ea11b671")
                    | To pass and use properties from the parent, setup the state, get automatically render() and even re-render without any extra code
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="94004131")
                .-fsb-preset-a580c369.col-12.internal-fsb-element(internal-fsb-guid="9eb97b77")
                  | pug template engine
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://github.com/pugjs/babel-plugin-transform-react-pug", target="_blank", internal-fsb-guid="8974d58b")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="66d1ded9")
                    | Use Pug templates to write react components
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="43699e1a")
                    | To understand Pug template inside render(), forward props and state, define events
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://www.netlify.com/blog/2020/12/17/react-children-the-misunderstood-prop/", target="_blank", internal-fsb-guid="d43c2980")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="6d35eba8")
                    | React Children: The misunderstood prop
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="4665eca2")
                    | To assign custom JSX/TSX elements in Pug template via children attribute
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="ed634916")
                .-fsb-preset-a580c369.col-12.internal-fsb-element(internal-fsb-guid="59b3d592")
                  | TypeScript Closure
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://www.tektutorialshub.com/typescript/private-public-protected-access-modifiers-in-typescript/", target="_blank", internal-fsb-guid="0e8d4a32")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="5bb09392")
                    | Private, Public &amp; Protected Access Modifiers in TypeScript
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="9b83ca19")
                    | To understand and use object oriented programming (OOP) in project
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://stackoverflow.com/questions/42788431/typescript-export-react-components-as-part-of-a-namespace", target="_blank", internal-fsb-guid="07aca614")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="9b46565a")
                    | TypeScript: Export React components as part of a namespace
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="5a3b2c67")
                    | To export and import TSX components and re-use in another ones
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="45574151")
                .-fsb-preset-a580c369.col-12.internal-fsb-element(internal-fsb-guid="0869794c")
                  | Database and background processing
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://www.npmjs.com/package/node-resque", target="_blank", internal-fsb-guid="43b86498")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="135750a7")
                    | node-resque: The best background jobs in node.
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="7b68e0d2")
                    | To understand and use background processing in project
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://www.geeksforgeeks.org/difference-between-sql-and-nosql/", target="_blank", internal-fsb-guid="7b39834b")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="4d5841b6")
                    | Difference between SQL and NoSQL
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="bc250758")
                    | To choose between document (NoSQL) or relational (SQL) database
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://developer.redis.com/explore/what-is-redis/", target="_blank", internal-fsb-guid="080ed6c6")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="71d59e02")
                    | Redis: In-memory database (volatile)
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="a2b83e05")
                    | To achieve the highest speed in CRUD of some tables in conjunction with document and relational ones
        .internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-webkit-align-content': 'center', 'align-content': 'center', 'bottom': '0px', 'height': '100vh', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'pointer-events': 'none', 'position': 'fixed', 'right': '0px', 'top': '0px', 'width': '100vw', 'z-index': '3'}, internal-fsb-class="FlowLayout", internal-fsb-guid="2b1306e2")
          .col-7.col-md-4.internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-webkit-align-content': 'end', 'align-content': 'end', 'height': '100vh', 'padding-bottom': '15px', 'padding-left': '15px', 'padding-right': '0px', 'pointer-events': 'auto'}, internal-fsb-class="FlowLayout", internal-fsb-guid="2484e143")
            .blur.internal-fsb-element.internal-fsb-strict-layout(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'auto', '-webkit-border-radius': '3px 3px 0px 3px', 'background': 'rgba(255, 255, 255, 0.5)', 'border-radius': '3px 3px 0px 3px', 'max-height': '90vh', 'overflow-x': 'hidden', 'overflow-y': 'auto', 'padding-bottom': '5px', 'padding-left': '15px', 'padding-right': '15px', 'padding-top': '5px', 'position': 'relative'}, internal-fsb-class="FlowLayout", internal-fsb-guid="21bb4b3a")
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="99cd6c66")
                .-fsb-preset-a580c369.col-12.internal-fsb-element(internal-fsb-guid="e63c5878")
                  | Preparing your environment
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://code.visualstudio.com/", target="_blank", internal-fsb-guid="1c52ee1e")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="2d015eb1")
                    | Visual Studio Code - Code Editing. Redefined
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="235c5077")
                    | To download and built on open source
              .internal-fsb-element.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="b2e3bc07")
                .-fsb-preset-a580c369.col-12.internal-fsb-element(internal-fsb-guid="e1e3c79c")
                  | Use stackBlend to incorporate Node.JS projects
                a.-fsb-preset-b5501860.internal-fsb-element(href="https://www.stackblend.org/", target="_blank", internal-fsb-guid="0e92ac88")
                  .-fsb-preset-b5501860-text.internal-fsb-element(internal-fsb-guid="153a6622")
                    | StackBlend Studio - Full-Stack Editor
                  .-fsb-preset-2a880e01.col-12.internal-fsb-element(internal-fsb-guid="b6cb67c7")
                    | StackBlend Studio is a full-stack editor for website development which comes with extensive options for HTML5, CSS3, and database manipulation without coding.
          .col-5.col-md-4.internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-webkit-align-content': 'end', 'align-content': 'end', 'padding-bottom': '15px', 'padding-left': '0px', 'padding-right': '15px', 'pointer-events': 'none'}, internal-fsb-class="FlowLayout", internal-fsb-guid="ed96c2da")
            .-fsb-preset-1923daea.blur.internal-fsb-element(style={'-fsb-inherited-presets': '1923daea', '-webkit-border-radius': '0px 3px 3px 0px', 'border-radius': '0px 3px 3px 0px'}, internal-fsb-guid="a76ca598")
              .col-12.internal-fsb-element(internal-fsb-guid="aabdaa5d")
                | Using StackBlend with Visual Studio Code
        .col-12.internal-fsb-element(internal-fsb-guid="089ca359")
          .html
            style(type="text/css").
                                      .blur {
                                          backdrop-filter: blur(15px);
                                          background: rgba(255, 255, 255, .5);
                                      }
              
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include _footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.